wheel
einops
matplotlib
numpy<2
torch==2.4.0+cu124.post2
pandas
Pillow
scikit_image
scipy
setuptools
SimpleITK
timm
ninja
torch_summary
torchsummary
torchvision
tensorboard
torchio
monai
psutil
lightning