wheel
einops>=0.6.0
matplotlib>=3.6.2
numpy==1.26.1
pandas>=1.5.2
Pillow>=9.5.0
scikit_image>=0.19.3
scipy>=1.10.1
setuptools>=59.6.0
SimpleITK>=2.2.1
timm>=0.6.12
torch>=1.13.0
ninja
torch_summary>=1.4.5
torchsummary>=1.5.1
torchvision>=0.14.0
tensorboard
torchio==0.19.1
monai>=1.1.0
lightning==2.1.2
lightning_utilities==0.10.0